<% provide(:title, 'Контакты') %>

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
  <div class="container">
    <h1 class="color-green pull-left">Наши Контакты</h1>
    <ul class="pull-right breadcrumb">
      <li><%= link_to "Главная",    root_path %> <span class="divider">/</span></li>
      <li class="active">Контакты</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!-- Google Map -->
<div id="map" class="map margin-bottom-40">
  <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zXUseHakzJSQ.k1FuSQNsb3R0" width="100%" height="100%"></iframe>
</div><!---/map-->
<!-- End Google Map -->

<!--=== Content Part ===-->
<div class="container">
  <div class="row-fluid">
    <div class="span9">
      <div class="headline"><h3>Контакты</h3></div>
      <p>Мы находимся на территории Московского радиотехнического завода.</p><br />
      <% form_for :email, :url => { :controller => 'static_pages', :action => 'contact' } do |f| %>
          <%= f.label :name %><br />
          <%= f.text_field :name, :size => 60 %><br />
          <%= f.label :address %><br />
          <%= f.text_field :address, :size => 60 %><br />
          <%= f.label :subject %><br />
          <%= f.text_field :subject, :size => 60 %><br />
          <%= f.label :body %><br />
          <%= f.text_area :body, :rols => 10, :cols => 60 %><br />
          <%= submit_tag "Send Email "%>
      <% end %>
    </div><!--/span9-->

    <div class="span3">
      <!-- Contacts -->
      <div class="headline"><h3>Контакты</h3></div>
      <ul class="unstyled who margin-bottom-20">
        <li><a href="#"><i class="icon-envelope-alt"></i>vitjor@yandex.ru</a></li>
        <li><a href="#"><i class="icon-phone-sign"></i>+7 (916) 656-1467</a></li>
        <li><a href="#"><i class="icon-globe"></i>http://wiz-art.herokuapp.com</a></li>
        <li><a href="#"><i class="icon-sign-blank"></i>skype: elitpasp</a></li>
      </ul>

      <!-- Business Hours -->
      <div class="headline"><h3>Часы работы</h3></div>
      <ul class="unstyled">
        <li><strong>Понедельник-Пятница:</strong> с 10:00 до 20:00</li>
        <li><strong>Суббота:</strong> с 10:00 до 20:00</li>
        <li><strong>Воскресенье:</strong> Закрыты</li>
      </ul>

      <!-- Why we are? -->
      <div class="headline"><h3>Почему мы?</h3></div>
      <p>Уникальность сервиса с гибким подходом к каждому клиенту.</p>
      <ul class="unstyled">
        <li><i class="icon-ok color-green"></i> Удобно</li>
        <li><i class="icon-ok color-green"></i> Быстро</li>
        <li><i class="icon-ok color-green"></i> Качественно</li>
      </ul>
    </div><!--/span3-->
  </div><!--/row-fluid-->

  <!-- Our Clients -->
  <div id="clients-flexslider" class="flexslider home clients">
    <div class="headline"><h3>Наши Клиенты</h3></div>
    <ul class="slides">
      <li>
        <a href="#">
          <img src="assets/clients/hp_grey.png" alt="" />
          <img src="assets/clients/hp.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/igneus_grey.png" alt="" />
          <img src="assets/clients/igneus.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/vadafone_grey.png" alt="" />
          <img src="assets/clients/vadafone.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/walmart_grey.png" alt="" />
          <img src="assets/clients/walmart.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/shell_grey.png" alt="" />
          <img src="assets/clients/shell.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/natural_grey.png" alt="" />
          <img src="assets/clients/natural.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/aztec_grey.png" alt="" />
          <img src="assets/clients/aztec.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/gamescast_grey.png" alt="" />
          <img src="assets/clients/gamescast.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/cisco_grey.png" alt="" />
          <img src="assets/clients/cisco.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/everyday_grey.png" alt="" />
          <img src="assets/clients/everyday.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/cocacola_grey.png" alt="" />
          <img src="assets/clients/cocacola.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/spinworkx_grey.png" alt="" />
          <img src="assets/clients/spinworkx.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/shell_grey.png" alt="" />
          <img src="assets/clients/shell.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/natural_grey.png" alt="" />
          <img src="assets/clients/natural.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/gamescast_grey.png" alt="" />
          <img src="assets/clients/gamescast.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/everyday_grey.png" alt="" />
          <img src="assets/clients/everyday.png" class="color-img" alt="" />
        </a>
      </li>
      <li>
        <a href="#">
          <img src="assets/clients/spinworkx_grey.png" alt="" />
          <img src="assets/clients/spinworkx.png" class="color-img" alt="" />
        </a>
      </li>
    </ul>
  </div><!--/flexslider-->
  <!-- //End Our Clients -->

</div><!--/container-->
<!--=== End Content Part ===-->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>