<% if signed_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <%= render 'shared/feed'%>
      </div>
    </div>
<% else %>
    <!--=== Slider ===-->
    <div class="slider-inner">
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2><i>Помощь в оформлении</i> <br /> <i>интерьеров</i> <br /> <i>любой сложности</i></h2>
          <p><i>Помогаем</i> <br /> <i>консультируем</i> <br /> <i>создаем</i></p>
          <div class="da-img"><%= link_to image_tag("wiz-art_logo.png", alt: "" ), '/' %></div>
        </div>
        <div class="da-slide">
          <h2><i>Печать на</i> <br /> <i>декупажных</i> <br /> <i>картах</i></h2>
          <p><i>Мы единственные в РФ</i> <br /> <i>кто это умеет</i></p>
          <div class="da-img span6">
            <div class="span6">
              <iframe src="http://player.vimeo.com/video/109876317" width="100%" height="320" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
        <div class="da-slide">
          <h2><i>Любые</i> <br /> <i>виды</i> <br /> <i>паспарту</i></h2>
          <p><i>Вплоть до</i> <br /> <i>самых изысканных</i> <br /> <i>вырезов</i></p>
          <div class="da-img"><%= link_to image_tag("paspartu1.png", alt: "image01", size: "430x250" ), '/' %></div>
        </div>
        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
      </div><!--/da-slider-->
    </div><!--/slider-->
    <!--=== End Slider ===-->

    <!--=== Purchase Block ===-->
    <div class="row-fluid purchase margin-bottom-30">
      <div class="container">
        <div class="span9">
          <span>Декупаж - текника имитации живописи</span>
          <p>Наши читатели с техникой декупажа знакомы хорошо. Наверняка уже многие оценили, как можно легко, быстро, без особых усилий и затрат преобразить обычную вещь - от чашки до стола - с помощью декоративных салфеток. Но далеко не все решаются использовать декупажные карты - считается, что это материал для продвинутых мастеров. Между тем работать с ними не намного сложнее, чем с салфетками, а результат этих трудов радует отсутствием разрывов, "морщинок" и прочих дефектов.</p>
        </div>
        <a href="#" class="btn-buy hover-effect">Заказать карты</a>
      </div>
    </div><!--/row-fluid-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    <div class="container">
      <!-- Service Blocks -->
      <div class="row-fluid">
        <div class="span4">
          <div class="service clearfix">
            <i class="icon-resize-small"></i>
            <div class="desc">
              <h4>Прочность</h4>
              <p>При намокании не морщится, не тянется, не рвется, как обычная салфетка. Нет необходимости в извращениях, чтобы приклеить ровно и без складочек.</p>
            </div>
          </div>
        </div>
        <div class="span4">
          <div class="service clearfix">
            <i class="icon-sitemap"></i>
            <div class="desc">
              <h4>Неограниченность мотивов</h4>

              <p>Теперь мы предоставляем Вам возможность печатать любые сюжеты на декупажной бумаге прямо сейчас.
              </p>
              <a href="#" class="btn-u">Не упустите предложение</a>


            </div>
          </div>
        </div>
        <div class="span4">
          <div class="service clearfix">
            <i class="icon-heart"></i>
            <div class="desc">
              <h4>Одно целое с изделием</h4>
              <p>Теперь нет выступающих краев, достаточно немного оборвать края декупажной карты и вы получаете рисунок, сливающийся с поверхностью.</p>
            </div>
          </div>
        </div>
      </div><!--/row-fluid-->
      <!-- //End Service Blokcs -->

      <!-- Recent Works -->
      <div class="headline"><h3>Примеры работ</h3></div>
      <ul class="thumbnails">
        <li class="span3">
          <div class="thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
              <div class="overflow-hidden"><%= link_to image_tag("carousel/a1.jpg", alt: "" ), '/' %></div>
              <a class="btn-more hover-effect" href="#">Подробнее +</a>
            </div>
            <h3><a class="hover-effect" href="#">Our Work</a></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
              <div class="overflow-hidden"><%= link_to image_tag("carousel/a2.jpg", alt: "" ), '/' %></div>
              <a class="btn-more hover-effect" href="#">Подробнее +</a>
            </div>
            <h3><a class="hover-effect" href="#">One More Work</a></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
              <div class="overflow-hidden"><%= link_to image_tag("carousel/a3.jpg", alt: "" ), '/' %></div>
              <a class="btn-more hover-effect" href="#">Подробнее +</a>
            </div>
            <h3><a class="hover-effect" href="#">Another Work</a></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
          </div>
        </li>
        <li class="span3">
          <div class="thumbnail-style thumbnail-kenburn">
            <div class="thumbnail-img">
              <div class="overflow-hidden"><%= link_to image_tag("carousel/a4.jpg", alt: "" ), '/' %></div>
              <a class="btn-more hover-effect" href="#">Подробнее +</a>
            </div>
            <h3><a class="hover-effect" href="#">Huge Work</a></h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem.</p>
          </div>
        </li>
      </ul><!--/thumbnails-->
      <!-- //End Recent Works -->

      <!-- Information Blokcs -->
      <div class="row-fluid margin-bottom-20">
        <!-- How to -->
        <div class="span12">
          <div class="headline"><h3>Как работать с декупажной бумагой</h3></div>
          <p>
            <img class="pull-left lft-img-margin img-width-200" src="assets/carousel/6.jpg" alt="" />
            Декупажные карты - это довольно тонкая декоративная бумага (от 60 до 80 г/м<sup>2</sup>) с разнообразными рисунками,
            которая обычно применяется для имитации росписи или живописи. Карты продаются поштучно в разных форматах - чаще всего A4, A3, 50x70 см.
          </p>
          <p>
            Чем тоньше бумага, тем больше она подходит. для начинающих мастеров по декупажу, потому что с такой бумагой проще работать: она обладает отличной эластичностью и податливостью.
          </p>
          <p>
            Вообще, в отличие от салфеток декупажные карты при наклеивании практически не рвутся и совсем не растягиваются. Еще одно отличие - клеить их можно как на светлую так и на темную поверхность.
            Бумага хоть и тонкая, но достаточно плотная, так что цвет фона не будет проступать через приклеенное изображение, как в случае с более тонкой и мягкой салфеткой.
          </p>
          <p>
            Тем не менее поверхность, на которую будет клеиться декупажная карта, желательно предварительно подготовить - так же, как и для наклеивания салфеток, распечаток и т.д.:
            устранить пыль, грязь, пятна, а если нужно - покрыть акриловым грунтом.
          </p>
          <p>
          Кстати, декорировать такой бумагой можно любую гладкую поверхность:
          </p>
          <ul class="unstyled">
            <li><i class="icon-ok color-green"></i> Дерево</li>
            <li><i class="icon-ok color-green"></i> Стекло</li>
            <li><i class="icon-ok color-green"></i> Керамику</li>
            <li><i class="icon-ok color-green"></i> Ткань</li>
            <li><i class="icon-ok color-green"></i> Картон</li>
            <li><i class="icon-ok color-green"></i> Металл</li>
          </ul>
          <p>
            При работе с декупажными картами в качестве клея часто используют обыкновенный ПВА. Но для декупажных карт лучше применить специальный клей для декупажа.
            Он бывает матовым или с эффектом глянца, встречаются и клеи лаки в одном средстве.
          </p>
          <p>
            Качественная декупажная бумага хорошо впитывает клей, на ней не появляется воздушных пузырей - карты ложатся на поверхность легко и ровно.
          </p>
          <br />
          <div class="span4 booking-blocks" style="background-color: #A2DED0">
            <h2>Дело тонкое</h2>
            <p>Наши декупажные карты достаточно тонкие, которые не нужно предварительно замачивать в воде перед приклеиванием - достаточно просто с обратной стороны смочить бумагу влажной губкой.
            Поверхность, на которой будет фиксироваться такая карта, можно также предварительно не смазывать клеем - клеить "на сухую", как обычные декоративные салфетки.
            </p>
            <p>
            Опытные рукодельницы советуют: если Вы клеите достаточно тонкую декупажную карту на цветной фон, бумагу с обратной стороны нужно подкрасить - например, белилами.
            </p>
          </div>
          <div class="span6 booking-blocks" style="background-color: #F5D76E">
            <h2>С объемом и без</h2>
            <ul class="unstyled">
              <li><i class="icon-star color-green"></i> Мы выпускаем самые тонкие и нежные декупажные карты на основе рисовой бумаги с тутовыми волокнами, что придает работе винтажный оттенок. Работать с ними легко и приятно, после приклеивания границы рисунка почти не заметны. Главное - подготовить светлый фон для такого изображения, чтобы рисунок не потускнел.</li>
              <li><i class="icon-star color-green"></i> Наша бумага имеет обратную сторону белого цвета. некоторые серии декупажных карт содержат одинаковые рисунки с обеих сторон бумаги - это двухсторонние декупажные карты. Они идеальны для декора по слеклу - для так называемого обратного декупажа. </li>
              <li><i class="icon-star color-green"></i> А для объемного декупажа подходят карты популярного ныне формата 3D. Они имеют рисунок, в основе которого повторяющиеся элементы композиции, которые идут с небольшими отличиями - по форме, размеру и т.д.</li>
              <li><i class="icon-star color-green"></i> И, конечно, нано-декупажные карты, ставшие последнее время очень популярными у нас в стране.
            </ul>
          </div>
          <div class="headline"><h3>Практикуемся</h3></div>
          <p>
            Итак, для начала предлагаем Вам попрактиковаться на небольших фрагментах декупажных карт.
            Например оформим с их помощью обычные подставки под горячее из пробкового материала.
          </p>
          <p>
            Вырезаем мотив точно по контуру и замачиваем в емкости с водой. Достаточно 1 минуты, чтобы бумага полностью впитала воду. Вынимаем фрагмент и промакиваем бумажным полотенцем с двух сторон.
          </p>
          <p>
            Равномерно наносим клей на оборотную сторону фрагмента и на поверхность подставки. Прикладываем картинку на поверхность и сверху промазываем клеем от середины к краям, легко нажимая кистью.
          </p>
          <p>
            Оставляем подставку сушиться. После того, как бумага высохнет, аккуратно обрезаем излишки бумаги по краям и покрываем ее матовым или глянцевым акриловым лаком.
          </p>
          <p>
            Потренировавшись на небольших предметах, можно переходить к более крупным, сложным формам. Например, коробочку от конфет с помощью декупажной бумаги легко превратить в шкатулку для хранения украшений или других мелочей, а обычную железную банку от растворимого кофе - в стильную ёмкость для кофейных зёрен.
          </p>

        </div><!--/span8-->

      </div><!--/row-fluid-->
      <!-- //End Information Blokcs -->

      <!-- Our Clients -->
      <div id="clients-flexslider" class="flexslider home clients">
        <div class="headline"><h3>Наши Клиенты</h3></div>
        <ul class="slides">
          <li>
            <a href="#">
              <img src="assets/clients/hp_grey.png" alt="" />
              <img src="assets/clients/hp.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/igneus_grey.png" alt="" />
              <img src="assets/clients/igneus.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/vadafone_grey.png" alt="" />
              <img src="assets/clients/vadafone.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/walmart_grey.png" alt="" />
              <img src="assets/clients/walmart.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/shell_grey.png" alt="" />
              <img src="assets/clients/shell.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/natural_grey.png" alt="" />
              <img src="assets/clients/natural.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/aztec_grey.png" alt="" />
              <img src="assets/clients/aztec.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/gamescast_grey.png" alt="" />
              <img src="assets/clients/gamescast.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/cisco_grey.png" alt="" />
              <img src="assets/clients/cisco.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/everyday_grey.png" alt="" />
              <img src="assets/clients/everyday.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/cocacola_grey.png" alt="" />
              <img src="assets/clients/cocacola.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/spinworkx_grey.png" alt="" />
              <img src="assets/clients/spinworkx.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/shell_grey.png" alt="" />
              <img src="assets/clients/shell.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/natural_grey.png" alt="" />
              <img src="assets/clients/natural.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/gamescast_grey.png" alt="" />
              <img src="assets/clients/gamescast.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/everyday_grey.png" alt="" />
              <img src="assets/clients/everyday.png" class="color-img" alt="" />
            </a>
          </li>
          <li>
            <a href="#">
              <img src="assets/clients/spinworkx_grey.png" alt="" />
              <img src="assets/clients/spinworkx.png" class="color-img" alt="" />
            </a>
          </li>
        </ul>
      </div><!--/flexslider-->
      <!-- //End Our Clients -->
    </div><!--/container-->
    <!-- End Content Part -->

<% end %>