<% if signed_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section>
          <%= render 'shared/user_info' %>
        </section>
        <section>
          <%= render 'shared/stats' %>
        </section>
        <section>
          <%= render 'shared/micropost_form' %>
        </section>
      </aside>
      <div class="col-md-8">
        <%= render 'shared/feed'%>
      </div>
    </div>
<% else %>
    <!--=== Slider ===-->
    <div class="slider-inner">
      <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2><i>CLEAN &amp; FRESH</i> <br /> <i>FULLY RESPONSIVE</i> <br /> <i>DESIGN</i></h2>
          <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
          <div class="da-img"><%= link_to image_tag("parallax-slider/img/1.png", alt: "" ), '/' %></div>
        </div>
        <div class="da-slide">
          <h2><i>RESPONSIVE VIDEO</i> <br /> <i>SUPPORT AND</i> <br /> <i>MANY MORE</i></h2>
          <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i></p>
          <div class="da-img span6">
            <div class="span6">
              <iframe src="http://player.vimeo.com/video/47911018" width="100%" height="320" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>
        <div class="da-slide">
          <h2><i>USING BEST WEB</i> <br /> <i>SOLUTIONS WITH</i> <br /> <i>HTML5/CSS3</i></h2>
          <p><i>Lorem ipsum dolor amet</i> <br /> <i>tempor incididunt ut</i> <br /> <i>veniam omnis </i></p>
          <div class="da-img"><%= link_to image_tag("parallax-slider/img/html5andcss3.png", alt: "image01" ), '/' %></div>
        </div>
        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
      </div><!--/da-slider-->
    </div><!--/slider-->
    <!--=== End Slider ===-->



<% end %>