<!--===
<div class="top">
  <div class="container">
    <ul class="loginbar pull-right">

      <li><i class="icon-globe"></i><a>Languages <i class="icon-sort-up"></i></a>
        <ul class="nav-list">
          <li class="active"><a href="#">English</a> <i class="icon-ok"></i></li>
          <li><a href="#">Spanish</a></li>
          <li><a href="#">Russian</a></li>
          <li><a href="#">German</a></li>
        </ul>
      </li>

      <li class="devider">&nbsp;</li>
      <li><a href="page_faq.html" class="login-btn">Help</a></li>
      <li class="devider">&nbsp;</li>
      <li><a href="page_login.html" class="login-btn">Login</a></li>
    </ul>
  </div>
</div>
===-->

<div class="header">
  <div class="container">
    <!-- Logo -->
    <div class="logo">
      <%= link_to image_tag("logo3.png", alt: "Logo3", size:"230x100", style: "padding-top: 10px;" ), '/' %>
    </div><!-- /logo -->

    <!-- Menu -->
    <div class="navbar">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a><!-- /nav-collapse -->
        <div class="nav-collapse collapse">
          <ul class="nav top-2">
            <li <%='class=active' if controller?("static_pages") && action?("home")%>>
              <%= link_to "Главная",    root_path %>
            </li>
            <li <%='class=active' if controller?("static_pages") && action?("gallery")%>>
              <%= link_to "Галлерея",   gallery_path %>
            </li>
            <li <%='class=active' if controller?("static_pages") && action?("contact")%>>
              <%= link_to "Контакты",   contact_path %>
            </li>
            <li>
              <p><i class="icon-phone"> +7 (916) 656-1467</i></p>
            </li>
          </ul>
        </div><!-- /nav-collapse -->
      </div><!-- /navbar-inner -->
    </div><!-- /navbar -->
  </div><!-- /container -->
</div><!--/header -->
<!--=== End Header ===-->